.primary-btn {
    border-radius: 0.5rem;
    background-color: #1C3879;
    padding: 1.3rem 3.2rem;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 300ms;
    text-decoration: none;
    span{
      padding-right: 1rem;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  .text-btn {
    border: none;
    background-color: transparent;
    font-family: var(--body-font);
    font-weight: bold;
    color: #385B64;
    padding: 1.3rem 3.2rem;
    transition: 300ms;
    border-radius: 5px;
    transition: 300ms;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      span{
        padding-right: 2rem;
      }
      
    }
    & span{
      transition: 300ms;
      padding: 0rem 1rem;
    }
  }

.outlined-btn{
  padding: 1rem 3rem;
  border-radius: .5rem;
  font-weight: bold;
  background-color: transparent;
  color: white;
  margin: 1rem 0;
  border: 1px solid rgba(255, 255, 255, 0.602);
  transition: 300ms;
  display: block;
  width: 20rem;
  &:hover{
    cursor: pointer;
    border-color: white ;
  }
}