@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
:root {
  --heading-font: "Inter", sans-serif;
  --body-font: "Roboto", sans-serif;
  --primary-color: #000000;
  --secondary-color: #593d3b;
  --third-color: #FF725C;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  font-family: var(--body-font);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  animation: headings 1.5s ease-in-out;
}
