img {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

p {
  color: #7a7a7a;
}

hr {
  margin-top: 3rem auto 3.5rem auto;
  border-width: 0;
  border-top: 1px solid #E1E1E1; 

}
