<footer class="main-footer">
    <div class="main-footer__container container">
      <div class="main-footer__section">
        <img src="img/white-logo.png" alt="logo">
        <div class="main-footer__section--links">
          <a href="tel:+11234567890">+1-123-456-7890</a>
          <button class="outlined-btn">Email us</button>
        </div>
      </div>
      <div class="main-footer__section">
        <h4>Company</h4>
        <div class="main-footer__section--links">
          <a href="">Home</a>
          <a href="">About me</a>
          <a href="">Services</a>
          <a href="">Contact</a>
        </div>
      </div>
      <div class="main-footer__section">
        <h4>Services</h4>
        <div class="main-footer__section--links">
          <a href="">Consulting</a>
          <a href="">Representation</a>
          <a href="">Consulting</a>
          <a href="">Representation</a>
        </div>
      </div>
      <div class="main-footer__section">
        <h4>Connect</h4>
        <div class="main-footer__section--social">
          <a href=""> <i class="fa-brands fa-facebook-f"></i> </a>
          <a href=""> <i class="fa-brands fa-instagram"></i> </a>
          <a href=""> <i class="fa-brands fa-linkedin"></i> </a>
          <a href=""> <i class="fa-brands fa-twitter"></i> </a>
        </div>
      </div>
    </div>
  </footer>
