<header class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <img src="img/logo.png" alt="logo" />
      </div>
      <div id="hamburger-menu" class="header__hamburger-menu">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="hide header_nav">
      <nav>
        <a class="navbar-link" href="index.html">Home</a>
        <a class="navbar-link" href="about.html">About me</a>
        <a class="navbar-link" href="services.html">Services</a>
        <a class="navbar-link" href="contact.html">Contact</a>
        <button class="primary-btn">Contact me</button>
      </nav>
    </div>
  </header>