<section class="testimonies">
    <div class="testimonies__container container">
      <h2>Our customers speak better than our words</h2>

      <div class="testimonies__container--grid">
        <div class="testimonies__card">
          <div class="testimonies__card-img">
            <img src="img/home/testimony1.jpeg" alt="Image of a man" />
          </div>
          <div class="testimonies__card-text">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod
              fugit optio similique labore dolorum.
            </p>
            <div class="testimonies__card--info-wrapper">
              <h3>Charles Freeman</h3>
              <p>FedEx - Project Manager</p>
            </div>
          </div>
        </div>

        <hr class="container" />

        <div class="testimonies__card">
          <div class="testimonies__card-img">
            <img src="img/home/testimony2.jpeg" alt="Image of a woman" />
          </div>
          <div class="testimonies__card-text">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod
              fugit optio similique labore dolorum.
            </p>
            <div class="testimonies__card--info-wrapper">
              <h3>Christina Simpson</h3>
              <p>XPO Logistics - Ops Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>